Lead dashboard:
<ul>
  <li>
    {{material_bank.threeform}} 3form Material Bank orders
    <ul>
      <li>{{material_bank.lightart}} lightart</li>
    </ul>
  </li>
  <li>
    {{web.threeform}} web sample orders
    <ul>
      <li>{{web.lightart}} lightart</li>
    </ul>
  </li>
  <li>
    {{product_requests.threeform}} non-Elements product requests
    <ul>
      <li>{{product_requests.elements}} Elements product requests</li>
    </ul>
  </li>
</ul>

Contact rep emails:
<ul>
  <li>{{rep_emails.total}} total emails sent</li>
  <li>{{rep_emails.unique}} unique addresses</li>
</ul>
